<ion-header *ngIf="!printMode">
  <ion-navbar>
    <ion-title>
      CYON
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <div *ngIf="!printMode">
    <ion-item>
      <ion-icon name="search" item-left primary></ion-icon>
      <ion-label floating primary>Text to search</ion-label>
      <ion-input [(ngModel)]="searchText" type="text"></ion-input>
    </ion-item>
    <button class="text-center" [disabled]="processing" (click)="search();" ion-item color="secondary"><ion-icon name="search"></ion-icon>&nbsp; Search</button>
    <button class="text-center" [disabled]="processing" *ngIf="searchResults.length" (click)="save();" ion-item color="primary"><ion-icon name="download"></ion-icon>&nbsp; Save</button>
  </div>
  <div *ngIf="printMode">
    <ion-list>
      <ion-item *ngFor="let result of searchResults">
        <h2>
          <a [href]="result.formattedUrl" [innerHTML]="result.htmlTitle"></a>
        </h2>
        <p [innerHTML]="result.htmlSnippet"></p>
        <a [href]="result.formattedUrl">{{result.displayLink}}</a>
      </ion-item>
    </ion-list>
  </div>
</ion-content>